/*
 * Define you own style here (overrides bootstrap's variables.less)
 */

/*
  @baseFontSize: 18px;
  @baseLineHeight: 25px;
  */

@font-face {
  font-family: 'Yanone Kaffeesatz Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'),
  local('YanoneKaffeesatz-Regular'),
  url('../font/yanone-kaffeesatz-regular.woff') format('woff');
}

@font-face {
  font-family: 'Yanone Kaffeesatz Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Bold'),
  local('YanoneKaffeesatz-Bold'),
  url('../font/yanone-kaffeesatz-bold.woff') format('woff');
}

@font-face {
  font-family: 'Yanone Kaffeesatz Light';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Light'),
  local('YanoneKaffeesatz-Light'),
  url('../font/yanone-kaffeesatz-light.woff') format('woff');
}

@font-face {
  font-family: 'Yanone Kaffeesatz Extralight';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Extralight'),
  local('YanoneKaffeesatz-Extralight'),
  url('../font/yanone-kaffeesatz-extralight.woff') format('woff');
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Yanone Kaffeesatz Regular", sans-serif;
}
