/*
 * Define you own style here (overrides bootstrap's variables.less)
 */

/*
  @baseFontSize: 18px;
  @baseLineHeight: 25px;
  */

@import "font-Yanone-Kaffeesatz.less";
@import "font-Nobile.less";
@import "font-Ubuntu-Mono.less";

h1, h2, h3, h4, h5, h6 {
    font-family: "Yanone Kaffeesatz", sans-serif;
}


@monoFontFamily: "Ubuntu Mono", sans-serif;


#page.container {
    .article-content {
	p, ul {
	    font-family: "Nobile", sans-serif;
	}
	p, ul, li, dt, dd, blockquote small, address  {
	    font-size: 18px;
	    line-height: 24px;
	}
    }
}
