html {
   background: #bababa;
}

body {
   background-color: #eaeaea;
   color: black;
}

#top nav {

}

a {
   color: #933;
}



.article-content h3 {
    background: #d4d4d4;
    border-color: #c4c4c4;
}

.article-content h4 {
    background: #dadada;
    border-color: #cacaca;
}
.article-content h5 {
    background: #e4e4e4;
    border-color: #d4d4d4;
}
.article-content h6 {
    border-color: #d0d0d0;
}



footer#bottom {
   background: #bababa;
   border-color: #9a9a9a;
}

#bottom section, #bottom nav, #top nav {
   border-color: #9a9a9a;
}

#content article footer {
   background-color: #e4e4e4;
}

#content article header {
   background-color: #d0d0d0;
}

div.date {
   border-color: #bababa;
   background-color: #dadada;
}

span.date-y {
   background-color: #c0c0c0;
}


#bottom #copyright p.powered {
   color: #9a9a9a;
}

#bottom #copyright p.powered a {
   color: #8a8a8a;
}


.article-content blockquote {
   border-color: #bababa;
}


.article-content p.verse {
   border-color: #bababa;
}

.article-content #footnotes {
   border-color: #bababa;
}

.article-content table.org-table {
   border-color: #bababa;
}

.article-content table.org-table thead {
    background: #cacaca;
}

.article-content table.org-table thead th {
   border-color: #bababa;
}


.article-content table.org-table tbody td {
   border-color: #bababa;
}


.article-content pre.src {
   border-color: #9a9a9a;
   background:  #2e3436;
   color: #eeeeec;
}


.article-content pre.example {
   border-color: #9a9a9a;
   background:  #2e3436;
   color: #eeeeec;
}


.article-content pre.src .code-highlighted {
    background: darkolivegreen;
}

.article-content div.admonition.information p.admonition-header {
    background: #babaff;
}

.article-content div.admonition.tip p.admonition-header {
    background: #baffba;
}


.article-content div.admonition.warning p.admonition-header {
    background: #ffffba;
}


.article-content div.admonition.danger p.admonition-header {
    background: #ffbaba;
}