<?xml version='1.0' encoding='UTF-8'?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
  <url>
    <loc><lisp>(ob:get 'url BLOG)</lisp>/</loc>
    <lastmod><lisp>(ob:format-date (ob:get 'timestamp (car (ob:get-posts nil 0))))</lisp></lastmod>
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
  </url>
  
  <lisp>(loop for POST in PAGES
    do (when (not (ob:get 'sitemap POST)) 
    (ob:insert-template "sitemap_static.html")))
  </lisp>

  <lisp>(loop for POST in POSTS
    do (when (not (ob:get 'sitemap POST)) 
    (ob:insert-template "sitemap_post.html")))
  </lisp>
</urlset>

