<lisp>(ob:insert-template "page_header.html")</lisp>
<article>
  <header class="article-header">
    <div class="well">
      <h1>Archives for <lisp>(format "%.4d / %.d2 (%s)" YEAR MONTH CATEGORY)</lisp></h1>
      <nav class="pager">
	<ul><li class="previous"><a href="../index.html"><i class="icon-chevron-up"></i>&nbsp;Up</a></li></ul>
      </nav>
    </div>
  </header>    
  <div class="article-content">
    <nav class="archives">
      <lisp>(ob:insert-template "index_month.html")</lisp>
    </nav>
  </div>
</article>
<lisp>(ob:insert-template "page_footer.html")</lisp>
