<div class="debug blog">
  <details>
    <summary>Debug blog</summary>
    <table>
      <caption>Dump information for blog</caption>
      <thead><tr><th>Property</th><th>Value</th></tr></thead>
      <tbody>
	<tr><td><code>file</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:blog-file BLOG)))</lisp></pre></td></tr>
	<tr><td><code>buffer</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:blog-buffer BLOG)))</lisp></pre></td></tr>
	<tr><td><code>publish-dir</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:blog-publish-dir BLOG)))</lisp></pre></td></tr>
	<tr><td><code>template-dir</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:blog-template-dir BLOG)))</lisp></pre></td></tr>
	<tr><td><code>style-dir</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:blog-style-dir BLOG)))</lisp></pre></td></tr>
	<tr><td><code>posts-filter</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:blog-post-filter BLOG)))</lisp></pre></td></tr>
	<tr><td><code>static-filter</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:blog-static-filter BLOG)))</lisp></pre></td></tr>
	<tr><td><code>snippet-filter</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:blog-snippet-filter BLOG)))</lisp></pre></td></tr>
	<tr><td><code>title</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:blog-title BLOG)))</lisp></pre></td></tr>
	<tr><td><code>description</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:blog-description BLOG)))</lisp></pre></td></tr>
	<tr><td><code>post-build-shell</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:blog-post-build-shell BLOG)))</lisp></pre></td></tr>
      </tbody>
    </table>
  </details>
</div>
