<div class="debug post">
  <details>
    <summary>Debug post: <lisp>(ob:post-title POST)</lisp></summary>
    <table>
      <caption>Dump information for post <lisp>(ob:post-title POST)</lisp></caption>
      <thead><tr><th>Property</th><th>Value</th></tr></thead>
      <tbody>
	<tr><td><code>id</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:post-id POST)))</lisp></pre></td></tr>
	<tr><td><code>title</code></code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:post-title POST)))</lisp></pre></td></tr>
	<tr><td><code>timespamp</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:post-timestamp POST)))</lisp></pre></td></tr>
	<tr><td><code>year</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:post-year POST)))</lisp></pre></td></tr>
	<tr><td><code>month</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:post-month POST)))</lisp></pre></td></tr>
	<tr><td><code>day</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:post-day POST)))</lisp></pre></td></tr>
	<tr><td><code>category</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:post-category POST)))</lisp></pre></td></tr>
	<tr><td><code>tags</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:post-tags POST)))</lisp></pre></td></tr>
	<tr><td><code>tamplate</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:post-template POST)))</lisp></pre></td></tr>
	<tr><td><code>filepath</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:post-filepath POST)))</lisp></pre></td></tr>
	<tr><td><code>filename</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:post-filename POST)))</lisp></pre></td></tr>
	<tr><td><code>htmlfile</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:post-htmlfile POST)))</lisp></pre></td></tr>
	<tr><td><code>path-to-root</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:post-path-to-root POST)))</lisp></pre></td></tr>
	<tr><td><code>content</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:post-content POST)))</lisp></pre></td></tr>
	<tr><td><code>content-html</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:post-content-html POST)))</lisp></pre></td></tr>
      </tbody>
    </table>
  </details>
</div>
