<div class="debug tag">
  <h2><lisp>(ob:get 'display TAG)</lisp></h2>
  <table>
    <caption><lisp>(ob:gettext :debug-tag)</lisp> <lisp>(htmlize-protect-string (format "%S" (ob:get 'display TAG)))</lisp></caption>
    <thead><tr><th><lisp>(ob:gettext :debug-property)</lisp></th><th><lisp>(ob:gettext :debug-value)</lisp></th></tr></thead>
    <tbody>
      <tr><td class="property"><code>name</code></td><td class="value"><pre><lisp>(htmlize-protect-string (format "%S" (ob:get 'display TAG)))</lisp></pre></td></tr>
      <tr><td class="property"><code>safe</code></td><td class="value"><pre><lisp>(htmlize-protect-string (format "%S" (ob:get 'safe TAG)))</lisp></pre></td></tr>
      <tr><td class="property"><code>count</code></td><td class="value"><pre><lisp>(htmlize-protect-string (format "%S" (ob:get 'count TAG)))</lisp></pre></td></tr>
      <tr><td class="property"><code>size</code></td><td class="value"><pre><lisp>(htmlize-protect-string (format "%S" (ob:get 'size TAG)))</lisp></pre></td></tr>
    </tbody>
  </table>
</div>
