<div class="debug tag">
  <table>
    <caption>Dump information for tags <lisp>(htmlize-protect-string (format "%S" (ob:tags-name TAG)))</lisp></caption>
    <thead><tr><th>Property</th><th>Value</th></tr></thead>
    <tbody>
      <tr><td><code>name</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:tags-name TAG)))</lisp></pre></td></tr>
      <tr><td><code>count</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:tags-count TAG)))</lisp></pre></td></tr>
      <tr><td><code>size</code></td><td><pre><lisp>(htmlize-protect-string (format "%S" (ob:tags-size TAG)))</lisp></pre></td></tr>
    </tbody>
  </table>
</div>
