<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title><lisp>(if (boundp 'POST) (ob:post-title POST) (ob:blog-title BLOG))</lisp></title>
    <link rel="stylesheet" type="text/less" href="<lisp>(ob:path-to-root)</lisp>/style/less/o-blog.less">
    <script src="<lisp>(ob:path-to-root)</lisp>/style/js/less-1.2.1.min.js" type="text/javascript"></script>
    <script src="<lisp>(ob:path-to-root)</lisp>/style/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="<lisp>(ob:path-to-root)</lisp>/style/js/bootstrap-modal.js" type="text/javascript"></script>
    <script src="<lisp>(ob:path-to-root)</lisp>/style/js/bootstrap-transition.js" type="text/javascript"></script>
    <script src="<lisp>(ob:path-to-root)</lisp>/style/js/bootstrap-dropdown.js" type="text/javascript"></script>
    <script src="<lisp>(ob:path-to-root)</lisp>/style/js/prettify.js" type="text/javascript"></script>
    <script src="<lisp>(ob:path-to-root)</lisp>/style/js/o-blog.linenumber.js" type="text/javascript"></script>
    <script src="<lisp>(ob:path-to-root)</lisp>/style/js/o-blog-fix.js" type="text/javascript"></script>
    <lisp>org-export-xhtml-scripts</lisp>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <a class="brand" href="#"><lisp>(ob:blog-title BLOG)</lisp></a>
	  <div class="nav-collapse">
	    <lisp>(ob:post-content-html (ob:get-snippet "Navigation"))</lisp>
	  </div>
	</div>
      </div>
    </div>

    <div class="container" style="padding-top: 80px;">
      <lisp>(ob:insert-template "nav_breadcrumb.html")</lisp>
    </div>

    <div id="page" class="container">
