      </div>
      <footer class="footer">
	<div class="container">
	  <div class="row">
	    <section class="span4">
	      <h1>About</h1>
	      <address>
		<lisp>(ob:post-content-html (ob:get-snippet "About"))</lisp>
	      </address>
	    </section>
	    <nav id="links" class="span4">
	      <h1>Links</h1>
	      <ul>
		<lisp>(ob:insert-template "nav_links.html")</lisp>
	      </ul>
	    </nav>
	    <nav id="archives" class="span4">
	      <h1>Archives</h1>
	      <ul>
		<lisp>
		  (loop for p in (ob:get-posts nil 10)
		  do (insert (format "<li><a href=\"%s/%s\">%s</a></li> "
		  (ob:path-to-root)
		  (ob:post-htmlfile p)
		  (ob:post-title p)
		  )))
		</lisp>
	      </ul>
	    </nav>
	    <nav class="tags span4">
	      <h1>Tags</h1>
	      <lisp>(ob:insert-template "nav_tag-cloud.html")</lisp>
	    </nav>
	  </div>
	</div>
	<div class="copyright" style="text-align: center;">
	  <lisp>(ob:post-content-html (ob:get-snippet "Copyright"))</lisp>
	  <p>Powered by <a href="https://github.com/renard/o-blog">o-blog</a>.</p>
	</div>
      </footer>
      <script>
	$('[data-dropdown] ul ul').addClass('dropdown-menu');
	$('[data-dropdown] ul ul').parent().addClass('menu');
	$('[data-dropdown] ul li.menu > a').addClass('menu');
	$('.dropdown-menu li').each(function() { if ( $(this).text() == '\n') $(this).addClass('divider')});
	$('[data-dropdown]').dropdown();
      </script>
</body>
</html>
