<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5;url=<lisp>(format "%s/index.html"
      (ob:file-name-directory-base (ob:get 'htmlfile self)))</lisp>">
    <script type="text/javascript">
      window.location.href = "<lisp>(format "%s/index.html" (ob:file-name-directory-base (ob:get 'htmlfile self)))</lisp>"
    </script>
    <title>Page Redirection</title>
  </head>
  <body>
    If you are not redirected automatically, follow the <a href="<lisp>(format "%s/index.html" (ob:file-name-directory-base (ob:get 'htmlfile self)))</lisp>">link to example</a>
  </body>
</html>
