<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title><lisp>(if (boundp 'POST) (ob:post-title POST) (ob:blog-title BLOG))</lisp></title>
    <!-- <link rel="stylesheet" type="text/css" href="style/reset.css"> -->
    <link rel="stylesheet" type="text/css" href="<lisp>(ob:path-to-root)</lisp>/style/layout.css">
    <link rel="stylesheet" type="text/css" href="<lisp>(ob:path-to-root)</lisp>/style/colors.css">
  </head>
  <body>
    <div id="main-delimiter">
      <header id="top">
	<hgroup>
	  <h1><lisp>(ob:blog-title BLOG)</lisp></h1>
	  <h2><lisp>(ob:blog-description BLOG)</lisp></h2>
	</hgroup>
	<nav>
	  <lisp>(ob:insert-template "nav_links.html")</lisp>
	</nav>
      </header>
      <div id="content">
